#addon {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    width: 70px;
}

.form-control1 {
    width: 200px;
    margin-left: 10px;
}

.prompt {
    margin-left: 10px;
}